<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="MYDATABASEEntities" connectionString="metadata=res://*/Model.ModelEntity.csdl|res://*/Model.ModelEntity.ssdl|res://*/Model.ModelEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=laptop-r6r9e215;initial catalog=MYDATABASE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>